{%extends 'pg/base.html' %}
  {%block content_block%}

      <div class="homeImage">
        <div class="jumbotron" style="margin-top:-12%;background-color:rgba(0,0,0,0.8);color:white;">
          <div class="container text-center">
            <h1 class="display-4"><u>Password Reset Done</u></h1>
            <h5>Go ahead and <a href="{% url 'login' %}"><button type="button" class="btn btn-primary btn-lg" name="button">LOGIN</button></a> again</h5>
          </div><br>
        </div>
      </div>

  {%endblock%}
