{%extends 'pg/base.html' %}
{% load crispy_forms_tags%}
  {%block content_block%}
    <div id="logimg">
      <div class="container">
        <div class="logpage">
          <h1 class="text-center display-4">Change Your Password</h1>
          <hr class="loginhr"><br>
          <div class="">
            {% if validlink %}
            <form class=""  method="post" novalidate>
              {%csrf_token%}
              {{form|crispy}}
              <hr class="loginhr">
              <button type="submit" class="btn btn-primary btn-block" name="button">Save</button>
            </form>
            {%else%}
            <p style='color:red;'>Invalid Token</p>
            <a href="{% url 'password_reset' %}">Request a new password reset token again</a>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  {%endblock%}
