{%extends 'pg/base.html' %}
  {%block content_block%}

      <div class="homeImage">
        <div class="jumbotron" style="margin-top:-12%;background-color:rgba(0,0,0,0.8);color:white;">
          <div class="container text-center">
            <h1 class="display-4"><u>Password Reset Sent</u></h1>
          </div><br>
          <div class="container">
            <h5>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5>
            <h5>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h5>
          </div><br>
        </div>
      </div>

  {%endblock%}
