{%extends 'pg/base.html' %}
  {%block content_block%}
    <div id="logimg">
      <div class="container">
        <div class="logpage">
          <h1 class="text-center display-4">Reset Your Password</h1>
          <h4>(Enter your registered E-mail id only)</h4>
          <hr class="loginhr"><br>
          <div class="">
            <form class=""  method="post">
              {%csrf_token%}
              {{form.as_p}}
              <hr class="loginhr">
              <button type="submit" class="btn btn-primary btn-block" name="button">Send confirmation Link</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {%endblock%}
