{%extends 'pg/base.html' %}
{% load crispy_forms_tags%}
  {%block content_block%}

      <div id="logimg">
        <div class="container">
          <div class="profilepage">
            <h1 class="text-center display-4">Change Your Password Here</h1>
              <hr class="loginhr"><br>
              <div class="">
                <form class=""  method="post" novalidate>
                  {%csrf_token%}
                  {{form|crispy}}
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                    </div>
                  </div>
                  <hr class="loginhr">
                  <button type="submit" class="btn btn-primary btn-block" name="button">Change Password</button>
                </form>
              </div>
          </div>
        </div>
      </div>
  {%endblock%}
