{%extends 'pg/base.html' %}
  {%block content_block%}
    <div class="jumbotron">
      <h1 class="display-3 text-center">WHO WE ARE</h1>
    </div>

    <div class="container topMargin">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" style="margin-top:6%;">
          <p class="aboutParagraph">Hello pg provides you with a comprehensive and much needed information about pgs,rental rooms around you purely with passion and technology as our weapons.We strive hard to provide you everything that you really want to know about pgs like facilities,food menus,addresess,pictures and contact numbers.Our platform is indeed a great alternative to physical searching for pg seekers. </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="img-thumbnail img-fluid float-right">
            <img class="aboutImage" src="https://images.pexels.com/photos/209640/pexels-photo-209640.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="image is loading">
          </div>
        </div>
      </div>
      <br>
    </div>
  {%endblock%}
