{%extends 'pg/base.html' %}
  {%block content_block%}
    <div class="jumbotron">
      <div class="container">
      <h1 class="display-3 text-center">CONTACT US</h1>
      </div>
    </div>
    <div class="container topMargin" >
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="img-thumbnail img-fluid">
            <img class="aboutImage" src="https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="image is loading">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <ul >
            <li class="display-4">Our HeadQuarter:</li>
            <li></li>
            <a href="https://www.google.com/maps/place/Chandigarh+University/@30.7690448,76.5757943,15z/data=!4m5!3m4!1s0x0:0x68591e334d17a988!8m2!3d30.7690448!4d76.5757943">
            <li class="contactli"><i class="fas fa-map-marker-alt"></i>  Chandigarh University</li></a>
            <a href="#"><li class="contactli"><i class="fas fa-phone"></i>  +91-73409-03074</li></a>
            <a href="https://gmail.com">
            <li class="contactli"><i class="fas fa-envelope"></i>  vimp662@gmail.com</li></a>
          </ul>
          </div>
        </div>
        <br>
      </div>
    {%endblock%}
