{%extends 'pg/base.html' %}
  {%block content_block%}
    <!-- <style media="screen">
      body{
          background:#e1e6ef;
      }
      .jumbotron{
        background-color:#264cd6;
        padding: 30px;
      }
    </style> -->

    <div class="jumbotron ">
      <div class="container text-center">
      <h1 class="display-2"><i class="fas fa-camera"></i>  Photo Gallery</h1>
      <p class="text-center">There is nothing like staying at home for real comfort</p>
      </div>
    </div>

    <div class="topMargin">
      <div class="gallery">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/771883/pexels-photo-771883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/771883/pexels-photo-771883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/941195/pexels-photo-941195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/771883/pexels-photo-771883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/771883/pexels-photo-771883.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/68683/alnwick-castle-castle-alnwick-northumberland-68683.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/68683/alnwick-castle-castle-alnwick-northumberland-68683.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/68683/alnwick-castle-castle-alnwick-northumberland-68683.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/68683/alnwick-castle-castle-alnwick-northumberland-68683.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-lightbox="mygallary"><img class="gallaryImage thumbnail" src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  {%endblock%}
