{%extends 'pg/base.html' %}
  {%block content_block%}

    <div  class="homeImage img-fluid">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="head">Why to BOTHER?!?!</h1>
          <h2 class="head2">When we are HERE</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h1 class="head">Find Best PG at Best Price</h1>
          <h3 class="head2">Satisfaction Guranteed</h3>
        </div>
      </div>
    </div>


    <h1 class="text-center display-3 offer">What We Offer</h1>
    <div class="jumbotron"style="background-color:#ffebb2;">
      <div class="row">
        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <i class="fas fa-wifi fa-5x"></i>
          <h3>Wi-fi</h3>
          <p>High Speed WiFi to make sure you’re connected 24x7</p>
        </div>
        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <img id='ac' src="https://image.flaticon.com/icons/svg/34/34774.svg" alt="">
          <h3  style="line-height:0">AC</h3>
          <p style="line-height:350%">Get AC rooms to survive hot summer days</p>
        </div>
        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <i class="fas fa-utensils fa-5x"></i>
          <h3>FOOD</h3>
          <p>Delish and healthy meals will put those food ordering apps to rest.</p>
        </div>
        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <i class="fas fa-plug fa-5x"></i>
            <h3>POWER</h3>
          <p>Power backup always ready for interruption free living.</p>
        </div>

        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <img id='ac' src="https://image.flaticon.com/icons/svg/1284/1284646.svg" alt="">
          <h3 >SECURITY</h3>
          <p >High Security and Safety</p>
        </div>

        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <img id='ac' src="https://image.flaticon.com/icons/svg/632/632339.svg" alt="">
          <h3>COMFORT</h3>
          <p>Get high level of comfort</p>
        </div>

        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <img id='ac' src="https://image.flaticon.com/icons/svg/921/921356.svg" alt="">
          <h3>COMMUNITY</h3>
          <p>Get AC rooms to survive hot summer days</p>
        </div>

        <div class="col-xs-12 colsm-12 col-md-6 col-lg-3 text-center">
          <img id='ac' src="https://image.flaticon.com/icons/svg/167/167018.svg" alt="">
          <h3>TV</h3>
          <p>Get AC rooms to survive hot summer days</p>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center"style="background-color:#ffcb3a;padding :30px;margin:0px;">
      <h1 class="display-3">OUR VISION</h1>
      <ul>
        <li>To create a brand of uniform, standardized, secure private student accommodation trusted by students, parents and Institutions across India.</li>
        <li>Redefine hostel experience by creating an ecosystem which offers more than just accommodation.</li>
      </ul>
    </div>
    <div class="container-fluid">
    </div>
  {%endblock%}
