{%extends 'pg/base.html' %}
  {%block content_block%}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="display-3"><i class="fas fa-home"></i> My DashBoard (PG Around Khrar)</h1>
          <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container topMargin">
    {% for pg in pg_list %}
      <div  class="list-group">
        <a href="/{{pg.id}}" class="list-group-item list-group-item-action">
        <img class="float-left inkhrarImage" src="{{pg.pgimage1.url}}" alt="">
        <div class="inkhrarPadding"><h1 class="khararprice ">{{pg.pgname}}</h1><h2>{{pg.pgtype}}</h2> <h3 class="khararprice"> {{pg.pgprice}}</h3><p>{{pg.pgdescription}}</p>
        </div></a><br>
      </div>
      <a href="{% url 'edit' pk=pg.pk %}"><button type="button" class="btn btn-primary btn-lg" name="button">Update Post</button></a>
      <a href="{% url 'delete' pk=pg.pk %}"><button type="button" class="btn btn-danger btn-lg" name="button">Delete Post</button></a>
    {%endfor%}
    {%include 'pg/pagination.html' with page=pg_list%}<br>
  </div>

  {%endblock%}
