{%extends 'pg/base.html' %}
  {%block content_block%}
  <!-- <body style="background-color:#f7f7ff;"> -->
    <div class="jumbotron">
      <div class="container topMargin">
      <h1 class="display-3">Tiffin Services</h1>
      <h5>One cannot think well, love well and sleep well if one has not dined well.</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lf-12">
          <button class="btn btn-primry btn-lg btn-" id="but" type="button" name="button">@1999/- Only</button>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
      <p class="display-2 text-center">Our MENU</p>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 list-group-item list-group-item-action">
          <ul class="tiffinUi "><p class="">BREAKFAST</p>
            <li class="tiffinLi"><b>Monday </b> : Idli</li>
            <li class="tiffinLi"><b>Tuesday</b> : Aaloo Parantha</li>
            <li class="tiffinLi"><b>Wednesdy</b> : Poha</li>
            <li class="tiffinLi"><b>Thursday</b> : Gobi Parantha</li>
            <li class="tiffinLi"><b>Friday </b> : Macroni</li>
            <li class="tiffinLi"><b>Saturday</b> : Paneer Parantha</li>
            <li class="tiffinLi"><b>Sunday</b> : Dosa</li>
          </ul>
          <p><b>NOTE</b>: Milk,Egg,Butter,Jam & Bread is given everyday.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:7%;margin-bottom:7%;">
          <img class="tiffinImage img-thumbnail" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 list-group-item list-group-item-action">
          <ul class="tiffinUi"><p class="">LUNCH</p>
            <li class="tiffinLi"><b>Monday</b> : Kadi</li>
            <li class="tiffinLi"><b>Tuesday</b> : Paneer</li>
            <li class="tiffinLi"><b>Wednesday</b> : Chicken</li>
            <li class="tiffinLi"><b>Thursday</b> : Kofta</li>
            <li class="tiffinLi"><b>Friday</b> : Mix-veg</li>
            <li class="tiffinLi"><b>Saturday</b> : Chicken</li>
            <li class="tiffinLi"><b>Sunday</b> : Chole-Batura</li>
          </ul>
          <p><b>NOTE</b>: Chapati,Razma-Chawal,Salad,pickel,papad is given everyday.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:7%;margin-bottom:7%;">
          <img class="tiffinImage img-thumbnail" src="https://images.pexels.com/photos/145804/pexels-photo-145804.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 list-group-item list-group-item-action">
          <ul class="tiffinUi"><p class="">DINNER</p>
            <li class="tiffinLi"><b>Monday</b> : Sahi Paneer</li>
            <li class="tiffinLi"><b>Tuesday</b> : Dal Makhni</li>
            <li class="tiffinLi"><b>Wednesday</b> : kheer</li>
            <li class="tiffinLi"><b>Thursday</b> : Green Vegetable</li>
            <li class="tiffinLi"><b>Friday</b> : Egg Curry</li>
            <li class="tiffinLi"><b>Saturday</b> : Mix-Veg</li>
            <li class="tiffinLi"><b>Sunday</b> : Chickenn</li>
          </ul>
            <p><b>NOTE</b>: Chapati,Razma-Chawal,Salad,pickel,papad is given everyday.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:7%;margin-bottom:7%;">
          <img class="tiffinImage img-thumbnail" src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
      </div>
    </div>
  {%endblock%}
