{%extends 'pg/base.html' %}
  {%block content_block%}

  <div id="signimg">
    <div class="container">
      <div class="signpage">
        <h6 class="text-center display-4">Edit Your Post</h6>
          <hr class="loginhr"><br>
          <div class="">
            <h1>Are you sure Youe want to delete {{uploadpg.pgtype}}!!!!</h1>
            <form method="post">
              {%csrf_token%}
              <input type="submit" class="btn btn-danger btn-lg" name="" value="Confirm Delete "> &nbsp;
              <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg" name="button">Cancel</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {%endblock%}
